body.static-login {
  background-size: cover;
  background-repeat: repeat;
  background-position: top;

  @if $bg-image != "default" {
    background-image: url($bg-image);
  } @else if $bg-color != "default" {
    background: $bg-color;
  } @else {
    background: -webkit-linear-gradient(
      to right,
      $bg-gradient-1,
      $bg-gradient-2
    );
    background: linear-gradient(to right, $bg-gradient-1, $bg-gradient-2);
  }

  .login-welcome {
    background-color: #4c4c4c;
  }

  .d-header, .b-header {
    display: none;
  }

  h1 {
    text-align: center;
    a {
      color: #fff;
      &:hover {
        color: #d1d1d1;
      }
    }
  }

  .alert.alert-info {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .title {
    display: flex;
    justify-content: center;
  }

  .login-welcome {
    font-size: var(--font-up-1);
    .login-welcome__description {
      display: none;
    }
  }

  .login-welcome-header {
    .login-subheader {
        color: #4c4c4c;
    }
  }

  .login-subheader {
    color: #fff;
  }
}

.desktop-view .d-header-wrap::before {
  width: unset;
}
